html
    header
        title Main Page
    body
        h1 Welcome to the main page
        p Current user: #{username} with ID #{id}
        a(hres="/login") Login with username/password
        a(href="/auth/google") Login with google